<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="portable-win+net45+sl50+wp80+MonoAndroid16+MonoTouch40" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="portable-win+net45+sl50+wp80+MonoAndroid16+MonoTouch40" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable-win+net45+sl50+wp80+MonoAndroid16+MonoTouch40" />
  <package id="MvvmCross.HotTuna.CrossCore" version="3.0.14" targetFramework="portable-win+net45+MonoAndroid16+MonoTouch40+sl50+wp80" />
  <package id="MvvmCross.PortableSupport" version="3.0.14" targetFramework="portable-win+net45+MonoAndroid16+MonoTouch40+sl50+wp80" />
</packages>